<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="fslogix" />
    <package id="powershell-core" />
    <package id="googlechrome" />
    <package id="firefox" />
    <package id="vscode" />
    <package id="microsoftazurestorageexplorer" />
    <package id="remote-desktop-client" />
    <package id="azure-cli" />
    <package id="az.powershell" packageParameters="/core /desktop" />
    <package id="bicep" />
    <package id="git" packageParameters="/GitAndUnixToolsOnPath /SChannel /Editor:VisualStudioCode" />
</packages>